# packages in environment at C:\Users\lorenzo.riches\AppData\Local\Continuum\anaconda3\envs\coo_converter:
#
click                     6.7                        py_1    conda-forge
flask                     0.12.2                   py36_0    conda-forge
geos                      3.6.2                    vc14_1  [vc14]  conda-forge
jinja2                    2.10                     py36_0    conda-forge
numpy                     1.14.0           py36h4a99626_1  
openssl                   1.0.2n                   vc14_0  [vc14]  conda-forge
pandas                    0.22.0                   py36_0    conda-forge
pyshp                     1.2.12                     py_0    conda-forge
setuptools                38.4.0                   py36_0    conda-forge
shapely                   1.6.4                    py36_0    conda-forge


